@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --bg-clr: rgb(238, 238, 238);
    --hdr-clr: oklch(18.356% 0.00609 285.743 / 0.473);
    --h1-clr: white;
    --h2-clr: black;
    --btn-brd-clr: rgb(53, 53, 53);
    --btn-clr: rgb(78, 78, 78);
    --section-brd-clr: rgb(29, 29, 29);
    --sub-txt: rgb(32, 32, 32);
    --ftr-clr: rgb(12, 12, 12);
}
::-webkit-scrollbar {
    width: 5px;
    border-radius: 12px;
}
::-webkit-scrollbar-track {
    background: var(--bg-clr);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(133, 133, 133);
    border-radius: 12px;
}
body{
    margin: 0;
    background-color: var(--bg-clr);
    color: var(--main-txt);
    font-family: "Inter", sans-serif;
}
body::before{
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    opacity: 0.4;
    background: #fff;
    mix-blend-mode: multiply;
    filter: url(#noise);
}
a{
    text-decoration: none;
}
h1{
    font-weight: 500;
    float: left;
    color: var(--h1-clr);
    font-size: 0.9rem;
    margin-left: 12px;
}
h2{
    color: var(--h2-clr);
    text-align: center;
}
p{
    font-weight: 400;
    color: var(--sub-txt);
    text-align: center;
    margin: auto;
}
button{
    border: none;
}
header{
    position: fixed;
    width: 100%;
    height: 42px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--hdr-clr);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--section-brd-clr);
    padding: 5px;
    z-index: 999;
}
.light-theme{
    display: none;
}
#themeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 32px;
    height: 32px;
    margin-top: 4px;
    margin-right: 15px;
    background: rgba(0, 0, 0, 0);
    border-radius: 2em;
    cursor: pointer;
    transition: all 0.2s;
}
#themeButton:hover{
    background: oklch(18.356% 0.00609 285.743 / 0.856);
}
.header-bg{
    width: 100%;
    height: 35vh;
    top: 0;
    left: 0;
    z-index: -2;
    overflow: hidden;
}
.biography-pfp{
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    width: 148px;
}
.biography-pfp>img{
    object-fit: cover;
    width: 148px;
    border-radius: 2em;
}
.links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4.875em;
}
.links-container>a{
    color: var(--h2-clr);
}
.link-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    margin: 0 6px;
    background: inherit;
    border: 1px solid var(--btn-brd-clr);
    border-radius: 0.8em;
    cursor: pointer;
    transition: all 0.5s;
}
.link-button:hover{
    transform: scale(1.1);
    border: 1px solid var(--btn-clr);
    color: var(--btn-clr);
}
main{
    display: block;
    margin-right: 2em;
    margin-left: 2em;
}
.biography{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18em;
    border-bottom: 1px solid var(--section-brd-clr);
}
.biography-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.biography-container>p{
    max-width: 28em;
    margin-top: 5px;
    text-align: left;
}
.playlist{
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    height: 70vh;
}
.spotify-tracks{
    margin-top: 20px;
    padding: 20px;
    justify-content: center;
}
.spotify-container{
    display: inline-block;
    margin-left: 25px;
    margin-top: 25px;
    width: 225px;
    overflow: hidden;
    filter: drop-shadow(0px 0px 10px #0000005b);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    padding: 0;
    margin: 0;
    background: var(--ftr-clr);
    overflow: hidden;
}
footer p{
    color: var(--h1-clr);
    font-size: 0.9rem;
}
@media (max-width: 1371px){
    .playlist{
        height: 110vh;
    }
}
@media (max-width: 863px){
    .playlist{
        height: 130vh;
    }
}
@media (max-width: 940px){
    .playlist{
        height: 165vh;
    }
}
@media (max-width: 610px){
    .playlist{
        height: 255vh;
    }
}
@media (max-width: 486px){
    header{
        width: 85%;
        border-radius: 1.2em;
        margin-top: 0.5em;
    }
}
