@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --txt-clr: rgb(255, 255, 255);
    --txt-clr2: rgb(255, 255, 255);
    --sub-txt: rgb(185, 185, 185);
    --bg-clr: rgb(0, 0, 0);
    --hdr-clr: oklch(18.356% 0.00609 285.743 / 0.473);
    --ftr-clr: rgb(12, 12, 12);
    --sct-brd-clr: rgb(29, 29, 29);
    --thm-btn-bg-clr: rgb(27, 27, 27);
    --btn-brd-clr: rgb(26, 26, 26);
    --btn-brd-clr-act: rgb(54, 54, 54);
}
::-webkit-scrollbar {
    width: 5px;
    border-radius: 12px;
}
::-webkit-scrollbar-track {
    background: inherit;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(73, 73, 73);
    border-radius: 12px;
}
body{
    margin: 0;
    background-color: var(--bg-clr);
    color: var(--txt-clr);
    font-family: "Source Code Pro", monospace;
}
a{
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    max-width: 19em;
    height: 42px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5em;
    border-radius: 1.2em;
    background: var(--hdr-clr);
    backdrop-filter: blur(12px);
    border: 1px solid var(--sct-brd-clr);
    padding: 5px;
    z-index: 999;
}
h1{
    font-weight: 500;
    float: left;
    color: var(--txt-clr);
    font-size: 0.9rem;
    margin-left: 12px;
}
h2{
    color: var(--txt-clr2);
    text-align: center;
}
p{
    font-weight: 400;
    color: var(--sub-txt);
    text-align: center;
    margin: auto;
}
button{
    border: none;
}
.night-theme{
    display: none;
}
#themeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 32px;
    height: 32px;
    margin-top: 4px;
    margin-right: 15px;
    background: var(--thm-btn-bg-clr);
    border-radius: 2em;
    cursor: pointer;
    transition: all 0.2s;
}
#themeButton:hover{
    background: var(--btn-brd-clr-act);
}
.links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4.875em;
}
.links-container>a{
    color: var(--txt-clr2);
}
.link-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    margin: 0 6px;
    background: inherit;
    border: 1px solid var(--btn-brd-clr);
    border-radius: 0.8em;
    cursor: pointer;
    transition: all 0.5s;
}
.link-button:hover{
    transform: scale(1.1);
    border: 1px solid var(--btn-brd-clr-act);
    color: var(--txt-clr);
}
.links-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1em;
}
.links-container2>a{
    color: var(--txt-clr2);
}
main{
    margin-right: 2em;
    margin-left: 2em;
}
.biography{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33em;
    border-bottom: 2px solid var(--sct-brd-clr);
}
.biography-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.biography-pfp{
    display: flex;
    justify-content: center;
}
.biography-pfp>img{
    object-fit: cover;
    width: 128px;
    border-radius: 1.4em;
}
.biography-container>p{
    max-width: 24em;
    margin-top: 10px;
    text-align: left;
}
.playlist{
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    height: 68em;
}
.spotify-tracks{
    margin-top: 20px;
    padding: 20px;
    justify-content: center;
}
.spotify-container{
    display: inline-block;
    margin-left: 25px;
    margin-top: 25px;
    width: 250px;
    height: 250px;
}
.button-top-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
#TopButton{
    display: flex;
    background: var(--btn-brd-clr-act);
    cursor: pointer;
    width: 8em;
    height: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    transition: all 0.2s;
}
#TopButton:hover{
    transform: scale(1.2);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 8.5em;
    padding: 0;
    margin: 0;
    border-top: 2px solid var(--sct-brd-clr);
    background: var(--ftr-clr);
    overflow-x: hidden;
    overflow-y: hidden;
}
.footer-img{
    position: absolute;
    right: -30px;
    bottom: 10px; 
    width: 120px;
    transform: rotate(-25deg);
}
@media (max-width: 1204px){
    .playlist{
        height: 84em;
    }
}
@media (max-width: 926px){
    .playlist{
        height: 105em;
    }
}
@media (max-width: 648px){
    .playlist{
        height: 200em;
    }
}
@media (max-width: 486px){
    header{
        width: 85%;
    }
}
