@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root {
  --bg-color: #121212;
  --link-color: rgb(73, 249, 73);
  --link-color-active: rgb(176, 255, 176);
}
*{
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}
body {
  margin: 0;
  padding: 15px;
  background-color: var(--bg-color);
  color: white;
}
h2{
  font-size: clamp(10pt, 3vw, 14pt);
}
p{
  font-size: clamp(7pt, 3vw, 10pt);
}
a{
  color: var(--link-color);
  font-size: clamp(7pt, 3vw, 10pt);
  width: 120px;
}
a:hover{
  color: var(--link-color-active);
}
hr {
  opacity: 0.4;
}
.ascii{
  font-size: clamp(7pt, 3vw, 14pt);
}
.spotify-container {
  display: inline-block;
  margin-top: 10px;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25vh;
  border-top: 1px solid #848484;
}
@media (max-width: 763px) {
  footer{
    margin-top: 45vh;
  }
}
